<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>Intake - Low Carb Solutions</title>
    <link rel="icon" type="image/png" href="/img/logo_icon2.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400,900|Oregano|Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    
</head>

<body>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/recipes.js"></script>
</body>



</html>