<header id="navbar" class="headerContainer">
    <div class="headerDiv">
        <h1>Low Carb Solutions</h1>
    </div>
    <div class="searchContainer">
        <div class="searchDiv">
        </div>
        <nav class="navItems">
            <a class="nav-item" href="/home">Home</a>
            <a class="nav-item" href="/uploadrecipe">Submit a Recipe</a>
            <a class="nav-item" href="/viewrecipe">My Recipes</a>
        </nav>
    </div>
</header>


<div class="myRecipeListResultsDiv">
    <div class="myRecipeListResults">
        <h2>My Recipe List</h2>




    </div>
</div>