<header id="navbar" class="headerContainer">
    <div class="headerDiv">
        <h1>Low Carb Solutions</h1>
    </div>
    <div class="searchContainer">
        <div class="searchDiv">
        </div>
        <nav class="navItems">
            <a class="nav-item" href="/home">Home</a>
            <a class="nav-item" href="/uploadrecipe">Submit a Recipe</a>
            <a class="nav-item" href="/viewrecipe">My Recipes</a>
        </nav>
    </div>
</header>
<main id="myListPage">
    <div class="myRecipeListResultsDiv">
        <div class="myRecipeListResults">
            <h2>My Recipe List</h2>
        </div>
    </div>
</main>
<footer id="main-footer">
    <p class="contact">Contact Us at: </p>
    <p class="contact">Intake, Inc. PO Box 679556, Orlando, FL 32867. Ph#: 1.800.4Intake</p>
    <a class="email" href="mailto:contact@intake.com" target="_blank"> email: contact@intake.com
    </a>
    <a href="https://www.instagram.com/intake.life/?hl=en" target="_blank"> <img src="/img/instagram.png" alt="Instagram">
    </a>
    <p class="contact copyright">Copyright &copy 2018</p>
</footer>