html {
    box-sizing: border-box;
    height: 100%;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }

body {
    background-image: url("/img/gplaypattern2.png");
    background-attachment: fixed;
    margin: 0 auto;
    text-align: center;
     }
/* header */

.headerContainer{
    padding: 5px 0 10px;
    border-bottom: gray 2px solid;
    /* margin-bottom: 10px; */
}

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 3em;
    font-weight: 300;
    margin: 10px 0 10px 0;
    padding-top: 15px;
}

#banner {
   width:100%;
   height: 100vh;
}
/* sticky header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }

.sticky + .recipeUploadDiv {
    padding-top: 120px;

}
.sticky + .myRecipeListResultsDiv {
    padding-top: 120px;

}
.sticky + .recipeSearchResultsDiv {
    padding-top: 105px;
}


header {
    background-image: url("/img/header_back13.jpg");
    background-size: cover;
    padding: 20px;

}

h2 {
    margin: 0;
    padding: 0;
}

.headerDiv {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    width: 100%;
    height: 80px;
        
}

.headerDiv h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    grid-column-start: 3;
    text-align: right;
    font-weight: 500;
    margin: 25px 10px 0;
    color: #575757;


}
/* search */
.searchContainer {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    }

.searchDiv {
    grid-column-start: 2;
    text-align: right; 

}

/* search Btn */

.submitBtn {
    background-color:#7f9953;
    color: white;
    padding: 5px 10px; 
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
}
.submitBtn:hover {
    background-color: #ff8b75;
  }
#search-inputText {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid rgb(128, 128, 128);
    background-color:rgba(255, 255, 255, 0.8);
    padding: 5px 10px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1em;
}

/* menu */

.navItems {
    grid-column-start: 3;
    text-align: right;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    margin: 0 5px 10px;
    padding: 3px 5px;
    color: #ff8b75;
}

.nav-item:hover {
    color: #bae07a;
}
.nav-item:active {
    text-decoration: none;
}
.nav-item:visited {
    text-decoration: none;
}


/* Main Results */

.recipeSearchResultsDiv h1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;

  }
  .featureImgDiv {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 5px;
    padding: 20px 10px;
  }

 .featureImg{
    width: 100%;
    border: white 6px solid;
  }

  .featureEditorImg {
    width: 150px;

  }

  .featureEditorImgDiv {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .editorText {
    grid-column-start: 2;   
    grid-row-start: 2;
  }


/* Feature recipes  */

  .featureDetailsDiv{
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center; 
  }

  .featuredRecipes {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 100px auto;
  }

  .featuredRecipes h2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    font-weight: 400;
    background: rgba(183, 219, 120, 0.6);
    padding: 20px 0 5px 0;
    margin-bottom: 15px;
    color: white;
  }

  .feat1 {
    grid-column-start: 2;
    grid-row-start: 2;
    margin:5px;
  }
  .feat1:hover {
      cursor: pointer;
  }
  .feature1link{
      width: 100%;
      height: auto;
  }
  .feature2link{
      width: 100%;
      height: auto;
  }
  .feature3link{
      width: 100%;
      height: auto;
  }
  .feat2 {
    grid-column-start: 3;
    grid-row-start: 2;
    margin:5px;
  }
  .feat2:hover {
    cursor: pointer;
}
  .feat3 {
    grid-column-start: 4;
    grid-row-start: 2;
    margin:5px;
  }
  .feat3:hover {
    cursor: pointer;
}

/* Recipe search */
  .recipeSearchResultsDiv {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 100px auto;
    margin: 50px 50px 10px;
  }

  .h2main {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
  }

  .h2main h2 {
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    font-weight: 400;
    background: rgba(183, 219, 120, 0.6);
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
    color: white;
  }

  .searchResultsList {
    grid-column-start: 2;
    background:rgba(183, 219, 120, 0.6);
  }

.searchRecipeDetailsDiv {
    grid-column-start: 3;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background: white;
    border: rgba(183, 219, 120, 0.8) 6px solid;
    margin-left: 10px;
    /* padding-top: 5px; */

}
.searchRecipeDetailsDiv h3 {
    background: rgba(183, 219, 120, 0.8);
    margin: 5px 0;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: 500;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.8em;
    /* font-family: 'Oregano', cursive;
    font-family: 'Roboto', sans-serif; */

}

.searchRecipeDetailsDiv p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    color: black;
    font-weight: 600;
    margin: 0;

}

.searchRecipeDetailsDiv p:last-child {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
    color: black;
    font-weight: 400;
    margin: 10px 0;

}

.searchRecipeDetailsDiv a {
    text-decoration: underline;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
}

.searchRecipeDetailsDiv a:hover {
    color:rgba(183, 219, 120)
}

.searchRecipeDetailsDiv .buttonsDiv {
    margin: 10px 10px;

}
.searchRecipeDetailsDiv li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    margin-top: 5px;

}

.featImgTempDiv {
    grid-column-start: 3;
    grid-row-start: 3;

}

.featImgTemp {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

.featureImgDiv{
    grid-column-start: 2;
}
.searchListDetails {
grid-column-start: 2;
display: grid;
grid-template-columns: 10% 70% 20%;
background: rgba(255, 255, 255, 0.8);
border: gray 1px solid;
margin: 10px;

}
.searchResultsList h3 {
grid-column-start: 2;
font-family: 'Roboto', sans-serif;
text-align: left;
font-size: 1em;
padding-left: 20px;

}

  .imgSearch {
    grid-column-start: 1; 
    width: 100%;
    height: auto;
  }


  .searchListDetails h2 {
    text-align: left;
  }
  .searchListDetails button {
    width: 80px;
    height: 30px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
  }

  .imgDetails {
      width: 200px;
      border-radius: 50%;
      border: rgba(183, 219, 120, 0.9) 4px solid;
  }

  .scrollBtnMain {
      display: grid;
      grid-template-columns: 10% 20% 20% 50%;

  }

  .scroll-right {
    grid-column-start: 3;
    grid-row-start: 1;
    font-size: 2em;
    margin-bottom: 20px;

  }
  .scroll-left {
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 2em;
    margin-bottom: 20px;

  }

ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;  
}


button {
    margin: 0 0 0 5px;  
    font-family: 'Roboto', sans-serif;  
    font-size: .8em;
    color: white;
    padding: 3px 5px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 5px rgb(22, 22, 22, .5);
    background-color: #7f9953;

    }
button:hover{
    cursor: pointer;
    background-color: rgb(209, 62, 106);
    transition: all 0.5s ease-out;
    color: white;
    border: none;
    }

button:focus{
    outline:none;
    border: none;
    }

button:active{
    outline:none;
    border: none;
    box-shadow: none;
    }


    .communityFormDisplay {
        margin: 40px 0 40px 0;
        display: grid;
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: 100px auto;

    }

    .communityFormDisplay h2 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        font-family: 'Londrina Solid', cursive;
        font-size: 2em;
        font-weight: 400;
        background: rgba(183, 219, 120, 0.6);
        padding: 20px 0 5px 0;
        margin-bottom: 15px;
        color: white;


    }

    .formList {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;


    }
    .myListImg {
        grid-column-start: 2;
        grid-row-start: 2;
        width: 200px;
        height: 200px;
    }

    .formDisplayList {
        background: rgb(182, 98, 82, .4);
        padding: 20px;
        border: gray 6px solid; 
        margin-bottom: 20px;


    }

    .formDisplayList p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: .8em;
        font-weight: 400;
        color:#585959;
        background: rgb(255, 255, 255, 0.9);
        margin:5px 0 5px;
        padding: 5px;
        border-radius: 0%;
    }

    .formDisplayList p:nth-child(5) {
        font-size: .8em;
        padding: 10px 20px;

    }
    .formDisplayList p:nth-child(6) {
        font-size: .8em;
        padding: 10px 20px;

    }

    .myListImg {
        border-radius: 50%;
        border: white 5px solid;
    }

    .formResultsDisplay {
        grid-column-start: 3;
        grid-column-end: 4;
    }


/* My Recipe page */

.myRecipeListResults {
    margin: 10px 0 20px;
}
.myRecipeListResults h2 {
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    font-weight: 400;
    background: rgba(183, 219, 120, 0.6);
    padding: 20px 0 20px 0;
    margin: 20px 30px 20px;
    color: white;
}

.dbImgDiv {
    margin: 20px 30px 0;
    background: rgb(186, 223, 122, .5);
    padding: 10px 0;

}

.dbName {
    font-family: 'Roboto', sans-serif;
    font-size: 1.45em;
    font-weight: 700;
    color:#585959;
    background: white;
    margin:10px 0 10px;
    padding: 3px;
}


.dbImg {
    border-radius: 50%;
    border: white 5px solid;
    width: 200px;   
}


.dbDetailsDiv {
    margin: 0 30px;
    padding: 10px 20px 5px;
    background: rgba(173, 173, 173, 0.2);
    border: #585959 10px solid;
}

.dbDetailsDiv p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    margin: 3px;
    font-size: .9em;
}
.dbDetailsDiv p:nth-child(4) {
    font-size: .8em;
}
.dbDetailsDiv p:nth-child(5) {
    font-size: .9em;
}


.dbDetailsDiv a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    margin: 3px;
    font-size: .9em;
}
.dbDetailsDiv a:hover {
    color:  rgb(182, 98, 82);
}
.dbDetailsDiv a:active {
    text-decoration: none;
}

.dbTrash {
    margin: 5px;
    font-size: 1em;
}

.dbTrash:hover {
    cursor: pointer;
}

/* recipe upload form */

.recipeUploadDiv{
    padding: 0 120px;
}


.recipeUpload {
    margin: 30px 30px;
    background: rgb(255, 139, 117, .4);
    padding: 20px;
}
.recipeUpload h2 {
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    font-weight: 400;
    background: rgb(255, 255, 255, .8);
    padding: 5px;
    margin-bottom: 15px;
   
}

.recipeUpload p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    margin: 5px;
    font-size: 1.1em;
}

.formField {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 50%;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    margin: 8px 0;
    font-size: 1em;
}

.submitForm {
    width: 30%;
    background-color: rgb(209, 62, 106);
    color: white;
    padding: 14px 20px; 
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}
.submitForm:hover {
    background-color: rgb(206, 120, 146);
  }

  .formResultsDisplay {
    border-radius: 4%;

  }

  .alertStatus {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(183, 219, 120, 0.6);
    color: white;
    font-size: 1.2em;
  }
  
  p.submitMessage {
      padding: 20px;
      color: white;
  }

  main {
    padding: 4rem;
    min-height: calc(100vh - 60px); 
  }
  main {
    overflow: hidden;
    padding: 120px; 
  }

  #main-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    text-align: center;
    padding: 1rem;
    background: rgb(186, 223, 122, .6);
    border-top: rgb(128, 128, 128, .7) 2px solid;
    color: #fff;
    font-weight: 500;
    height: 160px; 
  }
  .contact {
    margin: 0;
  }
  .email {
      display: block;
      margin-bottom: 5px;
      color: white;
      text-decoration: none;
  }
  .email:hover {
      color: rgb(209, 62, 106);
  }
.email:active {
    text-decoration: none;
}
.copyright {
    padding-bottom: 10px;
}

.searchRecipeDetailsDivHidden {
    visibility: hidden;
    position: absolute;
    top: 110px;
    left: 120px; 
    background: rgb(255, 255, 255, 0.8);
    border: black 3px solid;

}
.searchRecipeDetailsDivHidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; 
    background: rgb(255, 255, 255, 0.8);
    border: black 3px solid;

}
.btnHidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; 
    background: black;
    color: white;
}
 
  


/* print only the content */

@media print {
    body * {
        visibility: hidden;
    }

    .featureImgDiv, .featureImgDiv *{
        visibility: visible;
    }
    .featureImgDiv {
        position: absolute;
        left: 150px;
        top: 0;
        width: 400px;
    }

    .featureDetailsDiv, .featureDetailsDiv *{
        visibility: visible;
    }
    .featureDetailsDiv {
        position: absolute;
        left: 0px;
        top: 300px;
    }

    .buttonsDiv, .buttonsDiv * {
    visibility: hidden;
    }
    .linkInst, .linkInst * {
        visibility: hidden;
    }


    .recipeDetailsDiv, .recipeDetailsDiv * {
        visibility: visible;
    }
    .recipeDetailsDiv {
        position: absolute;
        left: 0px;
        top: 50px;
    }

    .buttonsDiv, .buttonsDiv * {
        visibility: hidden;
    }
    .linkInst, .linkInst * {
        visibility: hidden;
    }

  /* media queries */

  }
  
  @media screen and (max-width: 640px) {
    .headerDiv {
        grid-template-columns: 40% 60%;
        height: 150px;
    }
    .headerDiv h1 {
        visibility: hidden;
        grid-column-start: 1;
    }
    .searchContainer {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .searchDiv {
        grid-column-start: 1; 
        grid-row-start: 1; 
        text-align: center;
    }
    .navItems {
        grid-column-start: 1;
        grid-row-start: 2;
        text-align: center; 
        margin-top: 5px;
    }
    .recipeSearchResultsDiv {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px auto;
        margin: 50px 50px 10px;
      }
    .searchResultsList {
        grid-column-start: 1;
        grid-row-start: 2;
        margin-bottom: 10px;
        text-align: center;
    }
    .searchRecipeDetailsDiv {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .scrollBtnMain {
        grid-template-columns: 10% 40% 40% 10%;
  
    }
    #banner {
        width:100%;
        height: 100%;
     }
     .h2main {
        grid-column-start: 1;
        font-size: 0.8em;
        margin: 0;
        padding: 0;
     }
     .featuredRecipes h2 {
        font-size: 1.5em;
        margin: 0;
        padding-top: 5px;
     }

     .communityFormDisplay h2 {
        font-size: 1.5em;
        margin: 0;
        padding-top: 5px;
     }
     .communityFormDisplay {
        grid-template-rows: 40px auto; 

     }
     .featuredRecipes {
        grid-template-rows: 40px auto; 

     }

     .formField {
        width: 100%
    }
    .recipeUploadDiv {
        padding: 0;
    }
    .dbImg {
        WIDTH: 100PX;
        border-radius: 50%;
        border: white 2px solid;
    }
    .myRecipeListResults {
        padding: 0;
    }
    #myListPage {
        padding: 0;
    }
    .sticky + #myListPage {
        padding-top: 200px;
        
      }
      .sticky + .recipeUploadDiv {
        padding-top: 200px;
      }
      .submitBtnForm{
          font-size: 0.7em;
          padding: 5px 0;

      }
      .dbDetailsDiv p {
        font-weight: 500;
        font-size: .8em;
    }
    .dbDetailsDiv p:nth-child(4) {
        font-weight: 400;
        font-size: .7em;
    }
    .dbDetailsDiv p:nth-child(5) {
        font-weight: 400;
        font-size: .8em;
    }
    .dbDetailsDiv a {
        font-weight: 400;
        font-size: .8em;
    }
    }

    .myListImg {
        border-radius: 100%;
        border: white 3px solid;
        width: 100px;
        height: 100px;
    }
    
    
    @media screen and (min-width: 641px) and (max-width: 768px) {
        .headerDiv {
            grid-template-columns: 40% 60%;
            height: 150px;
        }
        .headerDiv h1 {
            visibility: hidden;
            grid-column-start: 2;
        }
        .searchContainer {
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
        }
        .searchDiv {
            grid-column-start: 1; 
            grid-row-start: 1; 
            text-align: center;
        }
        .navItems {
            grid-column-start: 1;
            grid-row-start: 2;
            text-align: center; 
            margin-top: 5px;
        }
        .searchResultsList {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            margin-bottom: 10px;
            text-align: center;
        }
        .searchRecipeDetailsDiv {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
        }

        .scrollBtnMain {
            grid-template-columns: 10% 40% 40% 10%;
      
        }
        #banner {
            width:100%;
            height: 100%;
         }
         .formField {
            width: 100%
        }
        .recipeUploadDiv {
            padding: 0;
        }
        .dbImg {
            WIDTH: 100PX;
            border-radius: 50%;
            border: white 2px solid;
        }
        .myRecipeListResults {
            padding: 0;
        }
        #myListPage {
            padding: 0;
        }
        .sticky + #myListPage {
            padding-top: 200px;
            
          }
          .sticky + .recipeUploadDiv {
            padding-top: 200px;
            
          }
          .submitBtnForm{
            /* font-size: 0.6em; */
            padding: 5px;
        }

        .formDisplayList p {
            font-size: .8em;
        }
    
        .myListImg {
            border-radius: 100%;
            border: white 3px solid;
            width: 150px;
            height: 150px;
        }
        .dbDetailsDiv p {
            font-weight: 500;
            font-size: .8em;
        }

        .dbDetailsDiv p:nth-child(4) {
            font-weight: 400;
            font-size: .7em;
        }
        
        .dbDetailsDiv p:nth-child(5) {
            font-weight: 400;
            font-size: .8em;
        }
        .dbDetailsDiv a {
            font-weight: 400;
            font-size: .8em;
        }
    
        
      
    }
    

    
    
    @media screen and (min-width: 769px) and (max-width: 980px) {
        .headerDiv {
            grid-template-columns: 40% 60%;
            height: 100px;
        }
        .searchContainer {
            grid-template-columns: 40% 60%;
        }

        .headerDiv h1 {
            grid-column-start: 2;
        }
        .searchDiv {
            grid-column-start: 1; 
            text-align: center;
        }
        .navItems {
            grid-column-start: 2;
        }
        .searchResultsList {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            margin-bottom: 10px;
            text-align: center;
        }
        .searchRecipeDetailsDiv {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
        }

        .scrollBtnMain {
            grid-template-columns: 10% 40% 40% 10%;
      
        }
        #banner {
            width:100%;
            height: 100%;
         }
         
         /* .sticky {
             position: fixed;
             top: 0;
             width: 100%;
           } */
         
           .sticky + .recipeUploadDiv {
             padding-top: 120px;
             
           }
           .sticky + .myRecipeListResultsDiv {
             padding-top: 120px;
             
           }
           .sticky + .recipeSearchResultsDiv {
             padding-top: 105px;
           }
           .formField {
               width: 100%
           }
           .submitBtnForm{
            /* font-size: 0.6em; */
            padding: 5px;
        }

        .dbDetailsDiv p {
            font-weight: 500;
            font-size: .8em;
        }
        .dbDetailsDiv p:nth-child(4) {
            font-weight: 400;
            font-size: .7em;
        }
        .dbDetailsDiv p:nth-child(5) {
            font-weight: 400;
            font-size: .8em;
        }
        .dbDetailsDiv a {
            font-weight: 400;
            font-size: .8em;
        }
        .formDisplayList p {
            font-size: .8em;
        }
    
        .myListImg {
            border-radius: 100%;
            border: white 3px solid;
            width: 150px;
            height: 150px;
        }



    }






/* font-family: 'Londrina Solid', cursive;
font-family: 'Oregano', cursive;
font-family: 'Roboto', sans-serif; */